$primary-color: #01000c;
$secondary-color: #a39013;
$third-color: #F0D126;
@import 'projects-styles';

@font-face {
  font-family: "Karantina-Bold";
  src: local("Karantina-Bold"),
    url(./styles/fonts/Karantina/Karantina-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: local("Lato-Regular"),
    url(./styles/fonts/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"),
    url(./styles/fonts/Lato/Lato-Bold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato-Regular";
  background-color: $primary-color;
  color: $secondary-color;
  overflow: hidden;
}

.particle-canvas {
  height: 28.375vw !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  // border: 10px grey solid;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  justify-content: center;
  flex-direction: column;
  // border:10px solid rgb(79, 100, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

.main-title {
  background: none;
  border: none;
  color: inherit;
  text-decoration: underline 0.04em rgba(255, 255, 255, 0);
  transition: text-decoration-color 800ms;
}

.main-title:hover {
  cursor: default;
  text-decoration-color: $secondary-color;
}

.next-page-link:hover {
  background-color: $secondary-color;
  color: $primary-color;
}

.main-title {
  // border: 10px pink solid;
  font-family: "Karantina-Bold";
  font-size: 13vw;
}

.sidebar {
  flex-basis: 10%;
  // border:10px solid brown;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar a {
  font-size: 20px;
  border: $secondary-color solid 1px;
  padding: 8px 16px;
  border-radius: 3px;
}

.jobs {
  // border: 10px red solid;
  text-align: center;
  font-size: 40px;
  margin-top: 5px;
}

.particle-canvas {
  height: 99.68vh !important;
}

#container-bio {
  width: 96%;
  margin-bottom: 50px;
  text-align: justify;
}

.bio {
  margin-bottom: 10px;
  font-size: 19px;
}

.bio b {
  font-family: "Lato-Bold";
}

.logo-group {
  border: $secondary-color solid 2px;
  padding: 8px 16px;
  border-radius: 3px;
}

.tech-logo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.projects-section {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 20vh;
  grid-gap: 5%;
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .02);
  transition: transform .2s;
  border: 1px solid $secondary-color;
}

.project-card:hover {
  transform: scale(1.3); 
}

.project-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.link-to-project {
  font-size: 20px;
  border: $secondary-color solid 1px;
  padding: 8px 16px;
  border-radius: 3px;
}

.link-to-project:hover {
  background-color: $secondary-color;
  color: $primary-color;
}

@media screen and (max-width: 1300px) {
  .main-section {
    flex-basis: 100%;
    margin-top: 10vh;
  }
  .sidebar {
    flex-basis: 50%;
    order: 1;
    font-size: 2vw;
    padding: 0px;
  }

  .sidebar a {
    font-size: 2vh;
  }

  .jobs {
    font-size: 4vw;
  }
}
